.new-video {
  color: white;
  padding: 20px;
}

.new-video h1 {
  color: white;
}

.new-video form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-video label {
  color: white;
}

.new-video input,
.new-video textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.new-video button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
