.main {
  padding: 30px;
  background-color: #000;
}

.cover {
  display: flex;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  background-image: url("/public/img/banner.png");
  background-position: center;
  height: 35vw;
  justify-content: center;
  align-items: center;
}

.coverletra{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: start;
}

.cover-title {
  font-size: 2.5vw;
  margin-bottom: 20px;
}

.cover-description {
  font-size: 1.2vw;
  margin-bottom: 20px;
  max-width: 560px;
  text-align: start;
}

.cover-image {
  max-width: 100%;
  width: 40vw;
  border-radius: 10px;
}

.category {
  margin-bottom: 40px;
}

.category-title {
  color: #fff;
  font-size: 1.5vw;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 21vw;
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
