    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 5vw;
        background-color: #262626;
        border-bottom: 3px solid #00f;
    }  

    .logo-container {  
        display: flex;
        align-items: center;
    }
    
    .logoHeader {
        width: 13vw; 
    }
    
    .logo-text {
        color: #00f;
        font-size: 24px;
        font-weight: bold;
    }
        
    .nav {

        display: flex;
        align-items: center;
        gap: 1vw;
    }
    
    .nav-link {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid #fff;
        border-radius: 5px;
        transition: all 0.3s ease;
        width: 9vw;
        text-align: center;
    }
    
    .nav-link:hover {
        border-color: rgb(0, 102, 255);
        color: rgb(0, 115, 255);
        background-color: black;
    }
    
    .nav-link--highlight {
        color: #fff;
        margin-left: 10px;
    }
