.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    background-color: #000;
    border-top: 2px solid #00f;
    position: static;
    bottom: 0;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logoFooter {
    width: 13vw; 
  } 

  .nombre{
    color: aliceblue;
    font-size: 20px;
  }